[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gunicorn = "==20.0.4"
psycopg2 = "*"
psycopg2-binary = "*"
Flask = "*"
Werkzeug = "*"

[requires]
python_version = "3.6"

[dev-packages]
