<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Add page</title>
  </head>
  <body>
    <div class="container">
      <img src="../static/logo.png" alt="" class="logo" />
     <a href="/review">Make a review</a><br>
     {% if message %}
     <p>{{message}}</p>
     {%endif%}
    <form class = "form-signin" method = "POST" action = "/add">
		  <h2 class = "form-signin-heading">Add company</h2>
		  <label for="inputUsername" class="sr-only">Company name</label>
		<input type="text" id="inputUsername" name ="companyname" class="form-control" required autofocus><br>
		  <label for="inputUsername" class="sr-only">Company email</label>
		<input type="email" id="inputUsername" name ="companyemail" class="form-control" required autofocus><br>
		<label for="inputEmail" class="sr-only">Company password</label>
		<input type="password" id="inputEmail" name="companypw" class="form-control" required autofocus><br>
		  <button class="btn btn-lg btn-primary btn-block" type="submit">Add</button>
      </form>
    </div>
      <br><br><br><br>
    <hr>
    <a href ="/logout"><h2>Log out</h2></a>
  </body>
</html>
