<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" href="../static/style.css" />
    <title>Dashboard</title>
  </head>
  <body>
    <div class="container">
      <a href="/dashboard"><img src="../static/logo.png" alt="" class="logo" /></a>
     <a href="/review">Make a review</a><br>
     {%if admin%}
     <a href="/add">Add company</a><br>
     <a href="/addpr">Add product</a><br>
     <a href="/updateuser">Update User</a><br>
     <a href="/deleteuser">Delete User</a><br>
     <a href="/updateproduct">Update Product</a><br>
     <a href="/deleteproduct">Delete Product</a><br>
     <a href="/updatecompany">Update Company</a><br>
     <a href="/deletecompany">Delete Company</a><br>
     {%endif%}
     <ul>
     {% for x in reviews %}
		<li>Review:{{x[0]}}<br> Review score: {{x[1]}}<br> Made by: {{x[2]}} {{x[3]}}<br> For the product: {{x[4]}}<br>Product's overall score: {{x[5]}}<br> Company: {{x[6]}}<br> Company's overall score: {{x[7]}}<br></li>
	{%endfor%}
	</ul>
	<br>
	<br>
	<hr>
	{%if admin%}
	<h3>You are logged in as admin</h3>
	{%endif%}
    </div>
      <br><br><br><br>
    <hr>
    <a href ="/logout"><h2>Log out</h2></a>
  </body>
</html>
